/* Homepage/Nav/Global */

html {
    height: 100%
}

body {
    height: calc(100vh - 164px);
    color: rgb(107, 107, 107);
    font-family: 'Ubuntu', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-style: italic;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0) !important; /*use important to override link colors for <a> elements */
    border: 1px solid rgb(0, 0, 0);
}

.btn-outline-black:hover {
    background: rgb(255, 255, 0);
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 3px solid black !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    background:rgb(255, 53, 53);
    transition: 500ms;
}

.dropdown-item:hover, a.category-badge > span.badge:hover {
    background: rgb(0, 0, 0);
    color: white !important;
    transition: 300ms;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link, .update-link, .remove-item {
    cursor: pointer;
}

.const-bag-total{
    color: red;
}

.const-bag-total:hover{
    color: rgb(37, 232, 37);
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.login-form, .signup-form{
    margin-top: 50px;
    margin-left: auto;
    width: 20%;
    margin-right: auto;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 140px;
    }
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }

      .header-container {
          padding-top: 140px;
      }
  }

/* Push down page title for store on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}